<mat-card class="w-100">
  <mat-card-header class="report-patterns-header">
    <mat-card-title>Report patterns {{subsystemInfo}}</mat-card-title>
    <div class="subsystem-select">
      <mat-form-field>
        <mat-label>Subsystem</mat-label>
        <mat-select [formControl]="subsystemControl" required>
          <mat-option *ngFor="let subsystem of modules$ | async" [value]="subsystem">
            {{subsystem.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="subsystemControl.hasError('required')">First you have to choose subsystem</mat-error>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>

  <div class="report-patterns-menu">


    <div class="report-patterns-actions">
       <button mat-raised-button [disabled]="!subsystemInfo" (click)="openReportPatternDialog()">Create report pattern</button>
       <button mat-raised-button [disabled]="!selected" (click)="openUploadDialog()">Upload file pattern</button>
       <button mat-raised-button [disabled]="!fileUploaded" (click)="downloadFilePattern()">Download file pattern</button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8" matSort>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> File name </th>
      <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
    </ng-container>

    <ng-container matColumnDef="subsystem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subsystem </th>
      <td mat-cell *matCellDef="let element"> {{element.subsystem}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row
        (click)="onSelection(row)"
        [class.row-selected]="selected === row"
        *matRowDef="let row; columns: columns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="columns.length">
        No data found.
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>

  <div style="margin-top: 5%">
    <app-report-pattern-parameters
      [parameters]="reportPatternParameters$ | async">
    </app-report-pattern-parameters>
  </div>

  </mat-card-content>
</mat-card>
